@import 'tailwindcss';

@utility font-main {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 100;
  font-style: normal;
}

@utility font-title {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  @apply fixed inset-0 overflow-hidden bg-white dark:bg-black;
}

@custom-variant dark {
  &:where([data-theme='dark'] *) {
    @slot;
  }
}

@layer components {
  .controls {
    @apply absolute bottom-4 right-4 flex gap-2 text-5xl text-black dark:text-white z-[99999999];

    button {
      @apply cursor-pointer opacity-10 hover:opacity-100 transition-[opacity];
    }
  }
}
