@import 'tailwindcss';

@utility font-main {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 100;
  font-style: normal;
}

@utility font-title {
  font-family: 'Audiowide', monospace;
  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  @apply fixed inset-0 overflow-hidden bg-white dark:bg-black;
}

@custom-variant dark {
  &:where([data-theme='dark'] *) {
    @slot;
  }
}

@layer components {
  .controls {
    @apply absolute inset-4 top-auto flex gap-4 md:gap-2 text-6xl md:text-5xl text-black dark:text-white z-[99999999];

    button {
      @apply cursor-pointer opacity-30 md:opacity-10 hover:opacity-100 active:opacity-100 transition-[opacity] first:mr-auto;
    }
  }
}
