@import 'tailwindcss';

@utility font-main {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 100;
  font-style: normal;
}

@utility font-title {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  @apply fixed inset-0 overflow-hidden bg-black;
}
